
<kendo-splitter style="height: 91vh">
  <kendo-splitter-pane [collapsible]="true" size="40%">
    <div class="pane-content">
      <app-map ></app-map>
    </div>
  </kendo-splitter-pane>
  <kendo-splitter-pane>
    <div class="pane-content right">
      <kendo-tabstrip [tabAlignment]="'center'">
        <kendo-tabstrip-tab [title]="'Multi-point route tables'" [selected]="true">
          <ng-template kendoTabContent>
            <app-reports (updateEvent)="receiveReportUpdate($event)" 
              [reportsUpdate]="reportsUpdate"></app-reports>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Comparison charts'">
          <ng-template kendoTabContent>
            <app-charts (updateEvent)="receiveChartUpdate($event)" 
            [chartsUpdate]="chartsUpdate"></app-charts>
          </ng-template>
          </kendo-tabstrip-tab>
      </kendo-tabstrip>
    </div>
  </kendo-splitter-pane>
</kendo-splitter>
