<div class="wrapper">

<ngb-carousel>
    <ng-template ngbSlide>
      <img class='img-fluid w-100' src="../../assets/home.jpg" alt="InTime">
      <div class="carousel-caption">
        <h3>InTime</h3>
        <p>Precise Travel-Time for Arterials and Highways</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <img class='img-fluid w-100' src="../../assets/2.jpg" alt="InTime">
        <div class="carousel-caption">
          <h3>InTime</h3>
          <p>A Roadway Health Check-up </p>
        </div>
      </ng-template>
    <ng-template ngbSlide>
      <img class='img-fluid w-100' src="../../assets/ComplexHighways.jpg" alt="InTime">
      <div class="carousel-caption">
        <h3>InTime</h3>
        <p>Technology That Powers Smart Cities</p>
      </div>
    </ng-template>
   
  </ngb-carousel>
<div>

  </div>