
table, th, td {
    text-align: center;
  }

.cell-hover:hover {
    cursor: pointer;
  }
.k-icon {
    color: grey; 
    float: right;
    margin-right: 1em;
}

.k-icon:hover {
  cursor: pointer;
}