.k-icon-right {
    color:#9ba4ac;
    float: right;
    margin-right: 0.3em;
    margin-left: 0.2em;
    margin-top: 0.3em;
    margin-bottom: 0.2em;
    font-size: 80%;
}

.k-icon-nofloat {
    color:#9ba4ac;
    margin-right: 0.3em;
    margin-left: 0.2em;
    margin-top: 0.3em;
    margin-bottom: 0.2em;
    font-size: 80%;
}
.pointer:hover {
  cursor: pointer;
  color: #332D33;
}
.isDisabled {
    cursor: default !important;
  }
.isDisabled > a {
    color: currentColor;
    display: inline-block;  /* For IE11/ MS Edge bug */
    pointer-events: none !important;
    text-decoration: none;
  }

 